.cups-passwordmeter-basic {
  background-color: #f9f9f9;
  height: 10px;
  position: relative;
  z-index: 99;

  span {
    display: block;
    height: 100%;
    background-color: #0066CC;
  }
}

.cups-passwordmeter-basic-input {

}
